@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: #F5F7FB;
    color: #293264;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    min-height: 100vh;
}

section.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    text-align: center;
    padding: 1em;
}

section.home h1 {
    font-size: 2.5rem;
}

section.home p {
    font-size: 1.25rem;
    width: 100%;
    max-width: 550px;
    margin: 1em auto;
    line-height: 1.5;
}

section.home button {
    font-size: 1.25rem;
    background-color: #4D5B9E;
    color: #F5F7FB;

    border: none;
    border-radius: 12px;

    padding: 1em 2em;

    cursor: pointer;
    transition: .6s ease;
}

section.home button:hover {
    background-color: #293264;
}

/* quiz container design */
form.quiz-container {
    padding: 2em 1.5em;
}

form.quiz-container .question {
    padding: 1.5em 0;
    border-bottom: 2px solid #DBDEF0;
}

form.quiz-container .question h2 {
    margin-bottom: .75em;
}

form.quiz-container .question .choices {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .75em;
}

form.quiz-container .question .choices input[type='radio'] {
    display: none;
}

form.quiz-container .question .choices label {
    font-weight: 600;
    padding: .25em 1em;
    border: 1px solid #4D5B9E;
    color: #293264;
    border-radius: 6px;
    cursor: pointer;
    transition: .6s ease;
}

form.quiz-container .question .choices label:hover {
    background-color: #D6DBF5;
}

form.quiz-container .question .choices input[type='radio']:checked + label {
    background-color: #D6DBF5;
    box-shadow: 0 4px 8px #D6DBF5;
}