@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

body {
    background-color: #F5F7FB;
    color: #293264;
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    min-height: 100vh;
}

section.home {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;

    text-align: center;
    padding: 1em;
}

section.home h1 {
    font-size: 2.5rem;
}

section.home p {
    font-size: 1.25rem;
    width: 100%;
    max-width: 550px;
    margin: 1em auto;
    line-height: 1.5;
}

section.home button {
    font-size: 1.25rem;
    background-color: #4D5B9E;
    color: #F5F7FB;

    border: none;
    border-radius: 12px;

    padding: 1em 2em;

    cursor: pointer;
    transition: .6s ease;
}

section.home button:hover {
    background-color: #293264;
}

section.home img {
    position: absolute;
    width: 100%;
    max-width: 350px;
    z-index: -1;
    right: -10px;
    top: -1%;
    opacity: .2;
}

/* quiz container design */
.quiz-container {
    padding: 2em 1.5em;
}

.quiz-container .question {
    padding: 1.5em 0;
    border-bottom: 2px solid #DBDEF0;
}

.quiz-container .question h2 {
    margin-bottom: .75em;
}

.quiz-container .question .choices {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .75em;
}

.quiz-container .question .choices input[type='radio'] {
    display: none;
}

.quiz-container .question .choices label {
    font-weight: 600;
    padding: .25em 1em;
    border: 1px solid #4D5B9E;
    color: #293264;
    border-radius: 6px;
    cursor: pointer;
    transition: .6s ease;
}

.quiz-container .question .choices label:hover {
    background-color: #D6DBF5;
}

.quiz-container .question .choices input[type='radio']:checked + label {
    background-color: #D6DBF5;
    box-shadow: 0 4px 8px #D6DBF5;
}

.quiz-container .question .choices input[type='radio']:disabled + label {
    opacity: .7;
    cursor: not-allowed;
    pointer-events: none;
}

.quiz-container .question .choices input[type='radio']:disabled + label.correct {
    opacity: 1;
    background-color: #94D7A2;
}

.quiz-container .question .choices input[type='radio']:disabled + label.incorrect {
    background-color: #F8BCBC;
}

.quiz-container button.submit-btn {
    display: block;
    margin: 1.25em auto 0;
    border: none;
    border-radius: 8px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    font-size: 1.125rem;
    padding: 1em 1.5em;
    cursor: pointer;
    transition: .6s ease;
}

.quiz-container button.submit-btn:not(:disabled):hover {
    background-color: #293264;
}

.quiz-container button.submit-btn:disabled {
    opacity: .8;
    cursor: not-allowed;
}

/* loading status design */
.loading-status {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 600;
}

/* result section design */
.result {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
}

.result p {
    font-size: 1.25rem;
    font-weight: 600;
}

.result button {
    display: inline-block;
    font-size: 1.125rem;
    border: none;
    border-radius: 8px;
    background-color: #4D5B9E;
    color: #F5F7FB;
    padding: .5em 1em;
    cursor: pointer;
    transition: .6s ease;
}

.result button:hover {
    background-color: #293264;
}

@media(max-width: 768px) {
    .result {
        flex-direction: column;
    }
    .result button {
        width: 100%;
    }
}